@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-container .card {
    height: 250px;
    margin: 10px 10px;
}

.flex-container .card img {
    width: auto;
    height: 250px;
}